################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/demo/.vs/demo/v15
